@import 'fundation/reset';
@import 'fundation/grid';
@import 'fundation/typography';
@import 'fundation/helpers';
@import 'fundation/buttons';
@import 'fundation/inputs';

@import "./tables";
@import 'components/alert';
@import 'components/cards';
@import 'components/header';
@import 'components/menu';
@import 'components/navigation';
@import 'components/sidebar';
@import 'components/toolbar';
@import 'components/treeview';

@import 'pages/pages';

/* added to the bottom to make sure that the 
   classes get on the end of the file*/
@import 'fundation/fluent';
@import 'fundation/media';


/* Telerik Fixes */
/* this needs to be merged into the kendo.heartthrob.css */
.k-calendar .k-content thead, .k-calendar .k-footer, .k-calendar .k-header, .k-gantt .k-grid-header, .k-grid .k-header, .k-scheduler-header .k-scheduler-table, .k-tabstrip-items { text-transform: none !important }
.k-pager-sizes { display: inline-flex !important; padding-top: 0 !important; width: 23% !important }
.k-pager-numbers .k-link { margin-top: -6px !important }
.k-grid-header .k-link .k-icon.k-i-sort-asc-sm, .k-grid-header .k-link .k-icon.k-i-sort-desc-sm, .k-grid-header .k-link .k-sort-order { margin-top: 6px !important; margin-left: 1px !important; }
.k-grid .k-grouping-row td, .k-grid .k-hierarchy-cell { padding: 0 0 0 14px !important }
.k-tabstrip.k-header { background: transparent !important }
.k-tabstrip .k-content.k-state-active { background-color: #fff !important; border: 1px solid #ccc !important; margin-bottom: 15px !important; padding: 0 !important }
.k-tabstrip .k-item.k-state-active { border-color: none !important; border-bottom: 2px solid #2572EB !important; background-color: transparent !important; margin-bottom: 0px !important }
.k-tabstrip .k-item { background-color: transparent !important; border-color: transparent !important; margin-right: 7px !important }
.k-tabstrip-items .k-link { font-size: 16px !important; padding: 7px 0 !important; }
.k-tabstrip .k-content.k-state-active .k-grid { border: none !important }



.k-detail-cell .k-command-cell .k-button .k-icon { margin-top: 2px !important }