@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="space-medium"></div>
<h2>Dropdowns</h2>
<h3>Basic dropdown</h3>
<p>Basic dropdowns are used to select single text-based elements from a list of items.</p>
<div class="space-medium"></div>

<h4>Example</h4>
<div>
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>
</div>