<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Heartthrob</title>
    <link href="~/css/heartthrob.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <content>
        @RenderBody()
    </content>
</body>
</html>
