.alert {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	min-height: 152px;
	padding: 16px 24px;
	background: rgba(255, 255, 255, 0.85);
}
.alert-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0 linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 50;
}

.alert h3 {
	margin-bottom: 2px;
}

.alert .btn {
	margin-top: 14px;
	width: calc(41% - 4px);
}

.show-alert {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0 linear 0s, opacity 0.25s 0s, transform 0.25s;
}
