.header {
	width: 100%;
	background: #2e2e2e;
	height: 3.200em;
	z-index: 20;
	position: fixed;
	a {
		font-weight: normal;
	}
	.logo {
		float: left;
		img {
			max-height: 1.667em;
			margin: 0.800em 0 0 0.800em;
			cursor: pointer;
			width: auto;
		}
	}
	.line {
		float: left;
		height: 2.133em;
		width: 0.067em;
		background: #c3c3c3;
		margin: 0.533em 1.600em;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin: 0;
			margin-right: 1.067em;
			&:last-child {
				margin-right: 0;
			}
			a {
				display: block;
				height: 3.200em;
				font-size: 1.000em;
				color: #c3c3c3;
				line-height: 3.200em;
				padding: 0 0.533em;
				&:hover {
					color: #fff !important;
					border-bottom: 0.133em solid $accent-color;
					background: #3a3a3a;
					transition: all 0.3s;
				}
				&.active {
					border-bottom: 0.133em solid $accent-color;
					color: #fff;
				}
				i {
					font-size: 1.000em !important;
					margin-right: 0.333em;
					width: 1.200em;
					text-align: center;
				}
				&.child:after {
					content: " ";
					width: 0.667em;
					height: 0.667em;
					display: inline-block;
					position: relative;
					margin-left: 0.867em;
					top: -0.200em;
					border: solid rgba(255, 255, 255, 0.5);
					border-width: 0 0.133em 0.133em 0;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
				}
			}
			ul {
				display: none;
				li {
					float: none;
					width: calc(100% + 3.333em);
					a {
						background: #6b6b6b;
						border-left: 0.200em solid transparent;
						padding: 0 0.667em 0 0.467em;
						&:hover {
							border-left: 0.200em solid $accent-color;
							background: #555;
							border-bottom: none;
						}
						&.active {
							border-bottom: none !important;
						}
					}
				}
			}
			&:hover ul {
				display: block;
			}
		}
	}

	.right ul li {
		margin: 0;
		position: relative;
		a {
			color: #fff;
			width: 3.200em;
			text-align: center;
			padding: 0 1.000em;
			i {
				margin: 0;
				position: relative;
			}
			&:hover {
				border-bottom: none;
			}
		}

		&:last-child a {
			width: auto;
			display: inline-flex;
		}
		&:hover {
			background: #3a3a3a;
			transition: all 0.3s;
		}
	}

	.search {
		height: 3.200em;
		a {
			position: relative;
			z-index: 8;
			&.searchactived {
				text-align: right !important;
				width: auto !important;
				color: #2e2e2e !important;
				margin-left: 12.800em !important;
				&:hover {
					background: none !important;
					transition: all 0.3s;
					box-shadow: none !important;
				}
			}
		}
		input {
			display: none;
			height: 3.534em;
			position: relative;
			top: -3.467em;
			z-index: 7;
			min-width: 21.333em;
			border: none;
			background: #f4f4f4;
			margin-top: -1px;
			&:hover {
				background: #fff !important;
				transition: all 0.3s;
			}
		}
	}

	.menu {
		display: none;
		position: absolute;
		z-index: 5;
		width: 16.000em;
		right: 0;

		li {
			float: none;
			width: auto;

			a {
				height: 2.333em;
				width: 100% !important;
				text-align: left !important;
				padding: 0 !important;
				line-height: 2.333em;
				border: none !important;
				font-weight: 400;

				&.active {
					border: 0;
				}

				&.no-icon {
					padding-left: 2.667em !important;
				}

				i {
					padding: 0;

				}
			}

			ul{
				display: none !important;
				padding: 0;
			}

			&:hover ul{
				display: block !important;
			}
			&.line {
				background: none;
			}
		}

		&.dark ul{
			background: transparent !important;
		}

		.more:after{
			position: absolute;
			right: 0;
		}
	}
	#notifications {
		span {
			color: #000;
			position: relative;
			left: 14px;
			background: #f4f4f4;
			width: 1.133em;
			height: 1.133em;
			display: block;
			border-radius: 50%;
			z-index: 6;
			line-height: 1.067em;
			font-size: 0.733em;
			margin-top: -23px;
			opacity: 0.95;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
}
		i {
			position: relative;
			z-index: 7;
		}
	}

}
.header .right ul li:last-child .menu li i,
.header .menu li:last-child a i {
	margin-top: 0.533em;
}

.header .user-img,
.icon {
	width: 2.133em;
	height: 2.133em;
	border-radius: 50%;
	background: #c3c3c3;
	margin: 0.533em 0.667em 0 -0.467em;
	position: relative;
}
.header .user-img img {
	border-radius: 50%;
}
.header .user-img span,
.icon span {
	display: block;
	margin-top: -0.533em;
	font-style: italic;
	color: #fff;
}
.icon span {
	text-align: center;
	line-height: 2.133em;
	font-weight: 600;
}
