.header {
	width: 100%;
	background: #2e2e2e;
	height: 48px;
	z-index: 20;
	position: fixed;
	a {
		font-weight: normal;
	}
	.logo {
		float: left;
		img {
			max-height: 25px;
			margin: 12px 0 0 12px;
			cursor: pointer;
			width: auto;
		}
	}
	.line {
		float: left;
		height: 32px;
		width: 1px;
		background: #c3c3c3;
		margin: 8px 24px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin: 0;
			margin-right: 16px;
			&:last-child {
				margin-right: 0;
			}
			a {
				display: block;
				height: 48px;
				font-size: 15px;
				color: #c3c3c3;
				line-height: 48px;
				font-weight: 600;
				padding: 0 8px;
				&:hover {
					color: #fff;
					border-bottom: 2px solid $accent-color;
					background: #3a3a3a;
					transition: all 0.3s;
				}
				&.active {
					border-bottom: 2px solid $accent-color;
					color: #fff;
				}
				i {
					font-size: 15px !important;
					margin-right: 5px;
					width: 18px;
					text-align: center;
				}
				&.child:after {
					content: " ";
					width: 10px;
					height: 10px;
					display: inline-block;
					position: relative;
					margin-left: 13px;
					top: -3px;
					border: solid rgba(255, 255, 255, 0.5);
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
				}
			}
			ul {
				display: none;
				li {
					float: none;
					width: calc(100% + 50px);
					a {
						background: #6b6b6b;
						border-left: 3px solid transparent;
						padding: 0 10px 0 7px;
						&:hover {
							border-left: 3px solid $accent-color;
							background: #555;
							border-bottom: none;
						}
						&.active {
							border-bottom: none !important;
						}
					}
				}
			}
			&:hover ul {
				display: block;
			}
		}
	}

	.right ul li {
		margin: 0;
		position: relative;
		a {
			color: #fff;
			width: 48px;
			text-align: center;
			padding: 0 15px;
			i {
				margin: 0;
				position: relative;
			}
			&:hover {
				border-bottom: none;
			}
		}

		&:last-child a {
			width: auto;
			display: inline-flex;
		}
		&:hover {
			background: #3a3a3a;
			transition: all 0.3s;
		}
	}

	.search {
		height: 48px;
		a {
			position: relative;
			z-index: 8;
			&.searchactived {
				text-align: right !important;
				width: auto !important;
				color: #2e2e2e !important;
				margin-left: 192px !important;
				&:hover {
					background: none !important;
					transition: all 0.3s;
					box-shadow: none !important;
				}
			}
		}
		input {
			display: none;
			height: 48px;
			position: relative;
			top: -52px;
			z-index: 7;
			min-width: 320px;
			border: none;
			background: #f4f4f4;
			&:hover {
				background: #fff !important;
				transition: all 0.3s;
			}
		}
	}

	.menu {
		display: none;
		position: absolute;
		z-index: 5;
		width: 240px;
		right: 0;

		li {
			float: none;
			width: auto;

			a {
				height: 35px;
				width: 100% !important;
				text-align: left !important;
				padding: 0 !important;
				line-height: 35px;
				border: none !important;
				font-weight: 400;

				&.active {
					border: 0;
				}

				&.no-icon {
					padding-left: 40px !important;
				}

				i {
					padding: 0;

				}
			}

			ul{
				display: none !important;
				padding: 0;
			}

			&:hover ul{
				display: block !important;
			}
			&.line {
				background: none;
			}
		}

		&.dark ul{
			background: transparent !important;
		}

		.more:after{
			position: absolute;
			right: 0;
		}
	}
	#notifications {
		span {
			color: #000;
			position: relative;
			left: 7px;
			background: #f4f4f4;
			width: 17px;
			height: 17px;
			display: block;
			border-radius: 50%;
			z-index: 6;
			line-height: 16px;
			font-size: 11px;
			margin-top: -23px;
			opacity: 0.75;
		}
		i {
			position: relative;
			z-index: 7;
		}
	}

}
.header .right ul li:last-child .menu li i,
.header .menu li:last-child a i {
	margin-top: 8px;
}

.header .user-img,
.icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #c3c3c3;
	margin: 8px 10px 0 -7px;
	position: relative;
}
.header .user-img img {
	border-radius: 50%;
}
.header .user-img span,
.icon span {
	display: block;
	margin-top: -8px;
	font-style: italic;
	color: #fff;
}
.icon span {
	text-align: center;
	line-height: 32px;
	font-weight: 600;
}
