.menu {
	list-style: none;
	margin: 0;
	padding: 2px 0;
	width: 240px;
	height: auto;
	display: none;
  
	ul, li:hover ul li ul {
	  list-style: none;
	  margin: 0;
	  padding: 2px 0;
	  width: 240px;
	  height: auto;
	  display: none;
	}
  
	ul {
	  position: absolute;
	  z-index: 500;
	  top: auto;
	  display: none;
	}
  
	li {
	  ul li:hover ul, &:hover ul {
		display: block;
		position: relative;
		left: 240px;
		margin-top: -32px;
	  }
  
	  a:hover {
		background: rgba(255, 255, 255, 0.4);
		transition: all 0.3s;
	  }
  
	  height: 32px;
	}
  
	a {
	  color: #000;
	  font-size: 15px;
	  height: 32px;
	  width: 100%;
	  display: block;
	  line-height: 32px;
	}
  
	.no-icon {
	  padding-left: 40px;
	}
  
	i {
	  width: 40px !important;
	  font-size: 16px;
	  padding-left: 14px;
	}
  
	.line {
	  width: 216px;
	  margin: 0 auto;
	  border-bottom: 1px solid #ccc;
	  height: 2px;
	}
  
	.more:after {
	  content: " ";
	  width: 10px;
	  height: 10px;
	  display: inline-grid;
	  top: 10px;
	  position: relative;
	  margin-top: 2px;
	  float: right;
	  border: solid #999;
	  border-width: 0 2px 2px 0;
	  transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  margin-right: 13px;
	}
  }
  
  .menu-open {
	display: block;
  }
  
  .menu {
	&.right {
	  float: none;
  
	  li {
		ul li:hover ul, &:hover ul {
		  left: -235px;
		}
	  }
	}
  
	&.dark {
	  a {
		color: #f8f8f8;
	  }
  
	  .line {
		border-bottom: 1px solid $grey-color;
	  }
	}
  }