.sidebar {
	width: 300px;
	background: #ebebeb;
	border-right: 1px solid $super-grey-color;
	float: left;
	z-index: 9;
	position: fixed;
	height: 100%;
	overflow: hidden;
	margin: -20px;
  
	.k-widget {
	  box-shadow: none;
	}
  
	.sidebar-bottom-menus {
	  margin-bottom: 55px;
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  list-style: none;
	  padding: 0;
  
	  &:before {
		content: " ";
		border-top: 1px solid $super-grey-color;
		display: block;
		margin: -2px 16px 7px;
	  }
  
	  a {
		font-size: 14px;
		text-decoration: none;
		width: 100%;
		display: block;
		padding: 14px 20px;
		height: 48px;
  
		i {
		  width: 25px;
		  text-align: center;
		  font-size: 14px;
		  margin-right: 5px;
		}
	  }
	}
  }