.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 0.667em;
    border: 0.067em solid #ccc;

    & tr {
        border-bottom: 0.067em solid #ccc;
    }

    & > thead {
        border-top: none !important;
        font-weight: 600;
        border-bottom-width: 0.133em;

        &:hover {
            background: none;
        }
    }

    & tr td {
        padding: 0.600em 0.200em 0.533em 0.733em;

        &:last-of-type {
            padding-right: 0 !important;
        }
    }
}

.table-condensed tr td {
    padding: 0.200em 0.067em 0.267em 0.333em;
}

.table-striped > tbody > tr {
    &:nth-of-type(2n+1) {
        background: rgba(200, 200, 200, 0.23);
    }

    &:hover {
        background: #dedfe7;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
}

.table-bordered, .table-bordered tr td {
    border: 0.067em solid #ccc;
}
