.toolbar {
	border-bottom: 1px solid $super-grey-color;
	margin: -20px -20px 20px;
	padding: 0 20px 0;
	height: 48px;
	position: fixed;
	background: $light-grey-background-color;
	width: calc(100% - 250px);
	z-index: 9;
  
	+ * {
	  margin-top: 48px !important;
	}
  
	.btn-link {
	  min-width: 0;
	  margin-top: 4px;
	  padding-right: 0;
	  margin-right: -6px;
	}
}