$light-color: #ffffff;
$light-grey-color: #e6e6e6;
$super-grey-color: #c3c3c3;
$mood-grey-color: #848484; //ACHAR A COR
$soft-grey-color: #665; //ACHAR A COR
$grey-color: #665;
$dark-color: #2e2e2e;
$black-color: #000;

$accent-color: #0078d7;
$accent-color-hover: #1d5bbc; 
$accent-color-visited: #005ba6; 

$red-color: #cc240e;
$red-color-hover: #d22;