/* Fluent Design Stuff */
.acrylic,
.menu,
.menu ul,
.alert,
.cards-steps .card.opened,
.cards.acrylic,
.card.acrylic .taskbar,
header.acrylic,
.menu.dark,
.menu.dark ul {
	-webkit-backdrop-filter: blur(15px) saturate(125%) !important;
	backdrop-filter: blur(15px) saturate(125%) !important;
}
.acrylic,
.menu,
.menu ul,
.alert {
	background: rgba(255, 255, 255, 0.75) !important;
}
.cards-actions .card.acrylic,
.cards-steps .card.acrylic.opened,
.card.acrylic {
	background: rgba(255, 255, 255, 0.85) !important;
}
.cards-steps .card {
	background: rgba(217, 217, 217, 0.85) !important;
}
.card.acrylic .taskbar {
	background: rgba(217, 217, 217, 0.5) !important;
}
header.acrylic,
.menu.dark,
.menu.dark ul {
	background: rgba(40, 40, 40, 0.8) !important;
}
.alert-modal {
	-webkit-backdrop-filter: blur(10px) saturate(125%);
	backdrop-filter: blur(10px) saturate(125%);
	background: rgba(40, 40, 40, 0.5);
}
header.acrylic {
	background: rgba(40, 40, 40, 0.85) !important;
}

.no-shadow {
	border: 1px solid $super-grey-color;
}
.shadow,
.ui-autocomplete,
.menu,
.menu ul,
header .menu,
header ul li ul {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}
.shadow-middle,
header ul li a:hover,
blockquote,
.card,
.validation-summary-valid,
.validation-summary-errors {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.shadow-max,
.alert {
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
