select,
textarea,
input {
	border: 0.067em solid #bababa;
	background: #fff;
	margin: 0.267em 0;
	width: 100%;
	min-height: 2.667em;
	padding: 0 0.533em;
	border-radius: 0;
}

textarea:focus,
input:focus {
	border-color: $accent-color;
}

textarea:disabled,
input:disabled {
	border-color: $super-grey-color;
	background: $light-grey-color;
}

textarea {
	padding: 0.333em 0.533em;
}

select {
	border: 0.200em solid $light-grey-color;
	border-radius: 0;
	font-weight: 400;
	color: inherit;
	padding: 0.733em 1.000em;
	line-height: normal;
	transition: border-color 0.2s ease, outline 0.2s ease;

	&:focus {
		box-shadow: 0 0.200em 0.267em rgba(0, 91, 166, 0.3) inset;
		outline: 0.200em solid $accent-color-visited;
		outline-offset: -0.200em;
	}

	&[disabled],
	[include*="form-input-select()"] &:disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}
	&:invalid {
		color: $super-grey-color;
	}
}

input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	opacity: 0;

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	& + label:before {
		content: "";
		margin-bottom: 0.333em;
		margin-right: 0.667em;
		display: inline-block;
		vertical-align: text-top;
		width: 1.333em;
		height: 1.333em;
		background: $light-color;
		border: 0.067em solid $accent-color;
	}

	&:hover + label:before {
		background: $accent-color;
	}

	&:focus + label:before {
		box-shadow: 0 0 0 0.200em rgba(0, 0, 0, 0.12);
	}

	&:checked + label:before {
		background: $accent-color;
	}

	&:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

	&:disabled + label:before {
		box-shadow: none;
		background: #ddd;
		border: 0.067em solid $super-grey-color;
	}

	&:checked + label:after {
		content: "";
		position: absolute;
		left: 0.333em;
		top: 0.600em;
		background: white;
		width: 0.133em;
		height: 0.133em;
		box-shadow: 0.133em 0 0 white, 0.267em 0 0 white, 0.267em -0.133em 0 white,
			0.267em -0.267em 0 white, 0.267em -0.400em 0 white, 0.267em -0.533em 0 white;
		transform: rotate(45deg);
	}
}

input[type="radio"] {
	& + label:before {
		border-radius: 1.333em;
		-webkit-border-radius: 1.333em;
		-moz-border-radius: 1.333em;
		-ms-border-radius: 1.333em;
		-o-border-radius: 1.333em;
	}
}

.field-validation-error,
.validator {
	border-top: 0.200em solid $accent-color;
	padding-top: 0.200em;
	display: block;
	width: 100%;
	font-size: 0.933em;
	margin-bottom: 0.533em;
}

.field-validation-error {
	border-color: $red-color;
}

.validation-summary-valid {
	display: none;
}

.validation-summary-errors {
	display: block;
	border-left-color: $red-color;
	ul {
		margin: 0;
		padding: 0 0.667em;

		li {
			color: $red-color;
		}
	}
}

.ui-autocomplete-input {
	position: relative;
	z-index: 9;
}

.ui-autocomplete {
	position: absolute;
	z-index: 8;
	float: left;
	min-width: 10.667em;
	padding: 0;
	margin: -2.667em 0 0;
	list-style: none;
	background-color: #fcfcfc;
}

option,
.ui-menu-item-wrapper {
	font-size: 1.000em;
	height: 2.667em;
	padding-left: 0.800em;
	padding-top: 0.533em;
}

.ui-menu-item-wrapper:hover {
	background: $light-grey-background-color;
}
.ui-helper-hidden-accessible {
	display: none;
}
