select,
textarea,
input {
	border: 1px solid #bababa;
	background: #fff;
	margin: 4px 0;
	width: 100%;
	min-height: 40px;
	padding: 0 8px;
}
textarea:focus,
input:focus {
	border-color: $accent-color;
}
textarea:disabled,
input:disabled {
	border-color: #ccc;
	background: #e3e3e3;
}
textarea {
	padding: 5px 8px;
}
select {
	border: 3px solid #e6e6e6;
	border-radius: 0;
	font-weight: 400;
	color: inherit;
	padding: 11px 15px;
	line-height: normal;
	transition: border-color 0.2s ease, outline 0.2s ease;
}
select:focus {
	box-shadow: 0 3px 4px rgba(0, 91, 166, 0.3) inset;
	outline: 3px solid #005ba6;
	outline-offset: -3px;
}
select[disabled],
[include*="form-input-select()"] select:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}
select:invalid {
	color: #c7c7c7;
}

input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	opacity: 0;

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	& + label:before {
		content: "";
		margin-bottom: 5px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background: white;
		border: 1px solid $accent-color;
	}

	&:hover + label:before {
		background: $accent-color;
	}

	&:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	&:checked + label:before {
		background: $accent-color;
	}

	&:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

	&:disabled + label:before {
		box-shadow: none;
		background: #ddd;
		border: 1px solid #ccc;
	}

	&:checked + label:after {
		content: "";
		position: absolute;
		left: 5px;
		top: 9px;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
			4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
		transform: rotate(45deg);
	}
}

input[type="radio"] {
	& + label:before {
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
	}
}

.field-validation-error,
.validator {
	border-top: 3px solid $accent-color;
	padding-top: 3px;
	display: block;
	width: 100%;
	font-size: 14px;
	margin-bottom: 8px;
}

.field-validation-error {
	border-color: $red-color;
}

.validation-summary-valid {
	display: none;
}

.validation-summary-errors {
	display: block;
	border-left-color: $red-color;
	ul {
		margin: 0;
		padding: 0 10px;

		li {
			color: $red-color;
		}
	}
}

.ui-autocomplete-input {
	position: relative;
	z-index: 9;
}

.ui-autocomplete {
	position: absolute;
	z-index: 8;
	float: left;
	min-width: 160px;
	padding: 0;
	margin: -40px 0 0;
	list-style: none;
	background-color: #fcfcfc;
}

option,
.ui-menu-item-wrapper {
	font-size: 15px;
	height: 40px;
	padding-left: 12px;
	padding-top: 8px;
}

.ui-menu-item-wrapper:hover {
	background: #f8f8f8;
}
.ui-helper-hidden-accessible {
	display: none;
}
