body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	overflow-x: hidden;
	background: #f8f8f8;
	font-size: 15px;
	line-height: 20px;
	color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	margin-bottom: 15px;
}
h1 {
	font-size: 28px;
	line-height: 36px;
	font-weight: 400;
}
h2 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}
h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}
h4,
b,
strong,
dl dt {
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
}
h5 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 800;
}
h6 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
p {
	margin: 5px 0 10px;
}
a {
	color: #0078d7;
	text-decoration: none;
	cursor: pointer;
}
i {
	font-style: italic;
}
hr {
	border-bottom: none !important;
	border: 1px solid #ccc;
	margin: 10px 0 15px;
}
li {
	margin: 3px 0;
	line-height: 20px;
}
blockquote,
.validation-summary-valid,
.validation-summary-errors {
	background: #fff;
	padding: 15px 20px;
	border: 1px solid #e5e5e5;
	margin: 30px 0;
	margin-top: 12px;
	border-left: 3px solid #0078d7;
}
blockquote footer {
	text-align: right;
	font-style: italic;
	color: #665;
	font-size: 14px;
	margin-top: 15px;
}
blockquote footer:before {
	content: " ";
	width: 16px;
	border-bottom: 2px solid #888;
	display: inline-block;
	position: relative;
	top: -3px;
	margin-right: 6px;
}
.card blockquote {
	box-shadow: none;
	border: 1px solid #ccc;
	margin: 8px 0 0;
}
blockquote.border {
	border-left: 5px solid #2572eb;
}
blockquote.border.danger {
	border-left-color: #cc240e;
}
small {
	font-size: 12px;
	line-height: 14px;
}
label {
	font-weight: 600;
	color: #555;
}
img {
	width: 100%;
}
img.rounded {
	border-radius: 50%;
}
code {
	font-family: "Courier New", Courier, monospace;
}
